balancedFaceCrops/
facenet_backup/
20180402_114759/
backup_files/
facent_copy/
models/
result_datas/
test_datas/
svm_models/

*.zip



yolo_with_facenet_rtsp.py
yolo_with_facenet_webcam.py
registered_employees.txt
marked_attendance/core.py
marked_attendance/core_updatedAfterPobability.py

